

.required-details {
  background-color: #7a0410;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}
.kyc-img{
  width: 240px;
 margin-top: 15px;

}
.leter-text a{
  color: rgb(70, 74, 64);
  text-decoration: underline;
}

.click-new{
  width: 200px;
}
.kyc-process{
  font-size: 10px;
  font-weight: bold;
  color: black;
}
