<div id="navbar-wrapper">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" id="sidebar-toggle"><img src="assets/images/menu-icon.png"></a>
      </div>
      <ul class="navbar-item ml-auto d-flex align-items-center list-none">
        <li class="mr-3">
          <div class="searchBox">

            <input class="searchInput" type="text" name="" placeholder="Search........">
            <button class="searchButton" href="#">
              <i class="fal fa-search"></i>
            </button>
          </div>
        </li>
        <li class="mr-3">
          <div class="notification dropdown dropdown-hover">
            <button class="btn" type="button" data-toggle="dropdown" aria-expanded="false">
              <img src="assets/images/notification.png">
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </li>
        <li class="mr-3">
          <div class="profile dropdown dropdown-hover">
            <button class="btn custom-btn" type="button" data-toggle="dropdown" aria-expanded="false">
              <img src="assets/images/profile.png"><span class="pl-2">Gaurav Sharma <i
                  class="far fa-chevron-down pl-1"></i></span>
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>
        </li>


      </ul>
    </div>
  </nav>
</div>

