

     <!-- verify success message -->

     <div class="sign-up-form d-block ml-auto" >
        <!-- <div class="form-logo-bg d-flex justify-content-center"><img
            [src]="brandLogo ? brandLogo : localLogo">
        </div> -->
        <div class="p-5 d-flex justify-content-center flex-column">
             <div class="text-center mt-2 ">
                <img src="assets/images/mail-verify.png" alt="">
                  <p class="m-4">{{verifyMessage ? verifyMessage : 'SprintVerify' }}</p>

                  <button type="submit" class="btn btn-primary back-btn w-100" routerLink="../login">Back To Login</button>
             </div>

         </div>
      </div>

        <!-- verify success end -->
